<%- include('../inc/top') %>

    <H1>Type Management</H1>
    <table class="table table-hover table-warning ">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% listTP.forEach((objTP)=>{ %>
                <th>
                    <%= objTP.name %>
                </th>

                <th>
                    <a href="/type/edit/<%= objTP._id %>" class="btn btn-primary btn-sm"> Edit</a> |
                    <a href="/type/del/<%= objTP._id %>" class="btn btn-danger btn-sm"> Del</a>
                </th>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include('../inc/bottom') %>