<%- include('../inc/top3') %>

    <H1>Product details</H1>

    <% if(msg.length> 0){ %>
        <p class="alert alert-info">
            <%= msg %>
        </p>
        <% } %>

            <form action="" method="post">
                <fieldset disabled>
                    <label class="form-label">Tên sản phẩm</label>
                    <input id="disabledTextInput" class="form-control" type="text" name="name"
                        value="<%= objPD.name %>">

                    <label class="form-label">Thể Loại</label>
                    <select class="form-control" name="type">
                        <% listTP.forEach( (objTP)=>{
                            let selected = '';
                            if(String( objTP._id ) == String(objPD.type) ){
                            selected = ' selected ';
                            }
                            %>
                            <option <%= selected %>
                                value="<%= objTP._id %>"> <%= objTP.name %>
                            </option>
                            <% } ) %>
                    </select>
                    <br>

                    <label class="form-label">Ảnh sản phẩm</label>
                    <img style="width: 150px; height: 150px;" src="<%= objPD.avatar %>">
                    <br>
                    <label class="form-label">Mô tả</label>
                    <input id="disabledTextInput" class="form-control" type="text" name="description"
                        value="<%= objPD.description %>">

                    <label class="form-label">Giá sản phẩm</label>
                    <input id="disabledTextInput" class="form-control" type="number" name="price"
                        value="<%= objPD.price %>">
                </fieldset>
            </form>


            <%- include('../inc/bottom') %>